
@section scripts {

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"] - ArkThor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="~/theme/MD/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Font Awesome -->

    <link href="~/theme/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
   @* <link href="~/theme/plugins/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/theme/docs/assets/plugins/fontawesome-free/css/fontawesome.min.css" rel="stylesheet" />*@
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/theme/MD/css/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/theme/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/theme/lib/bootstrap/dist/css/bootstrap.min.css">
    

</head>
<body class="hold-transition sidebar-mini layout-fixed">
    @*<body class="hold-transition sidebar-mini sidebar-collapse">*@
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Preloader -->
      @*  <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/theme/MD/Images/Logo.png" alt="ThreatCategorization" height="60" width="60">
        </div>*@
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-primary">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/Contacts" class="nav-link">Contact</a>
                </li>               
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Home/LiveAnalysisTracking" class="nav-link" target="_blank">LiveTracking</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>


        </nav>
        
        <!-- /.navbar -->
        <!-- Main Sidebar Container Threat Hunting: C2 Network-->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="#" class="brand-link">
                <img src="~/theme/MD/Images/Logo.png"
                     alt="ArkThor"
                     class="brand-image img-circle elevation-4"
                     style="opacity: .9">
                <span class="brand-text font-weight-light">ArkThor</span>
                <br>
                <span class="brand-text font-weight-light">Threat Categorization:<br> ( Safety and Strength ) </span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        @*<img src="~/theme/MD/ApplicationFiles/Images/MD.jpg" id="imgLoginUser" class="img-circle elevation-2" alt="User Image">*@
                    </div>
                    <div class="info">
                      
                                                                        
                     @*   <a href="#" class="d-block" id="_loginUserName">@loginUser_givenName @loginUser_SurName</a>*@
                                                                        
                        <a href="#" class="d-block" id="_loginUserName">Admin</a>
                     @*   <label id="_loginUserEmailID" hidden="hidden">@loginUser_EmailID</label>*@
                      @*  <span id="_loginUser_ID" hidden="hidden">@loginUser_ID</span>*@
                        @* <a href="#" class="d-block"> Hello Guest !</a>*@



                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="~/" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboard
                                    @*<i class="right fas fa-angle-left"></i>
                    <i class="fas fa-bullhorn"></i>*@
                                </p>
                            </a>
                        </li>
                       
                        <li class="nav-item">
                            <a href="~/Home/AnalysisRecords" class="nav-link">
                              @*  <i class="fab fa-optin-monster fa-2x"></i>*@
                                <i class="fas fa-user-secret"></i>
                                <p>
                                    Analysis Records
                                </p>
                            </a>
                        </li>                      

                       
                        <!--Charts-->
                        <li class="nav-item">
                            <a href="~/Home/Statistics" class="nav-link" target="_blank" title="Use this link to join Maintenance Window Room Work discussion">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Statistics
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/Home/LiveAnalysisTracking" class="nav-link" target="_blank" title=" ArkThor Board">
                                <i class="fas fa-map"></i>
                                <p>
                                    Track Live Status
                                </p>
                            </a>
                        </li>


                        <li class="nav-header">MISCELLANEOUS</li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                @*<i class="far fa-comments"></i>*@
                                <i class="fas fa-tasks"></i>
                                <p>
                                    Rules
                                    <i class="fas fa-angle-left right"></i>
                                    @* <span class="badge badge-info right">New</span>*@
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/DevOps/BriefHistory" class="nav-link">
                                        <i class="far fa-copy"></i>
                                        <p>Upload</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/DevOps/DevOpsStage" class="nav-link">
                                        <i class="fas fa-retweet"></i>
                                        <p>View/Edit</p>
                                    </a>
                                </li>

                            </ul>

                        </li>
                         <li class="nav-item">
                            <a href="~/KnowledgeBase" class="nav-link">
                                <i class="nav-icon fas fa-book"></i>
                                <p>Knowledge Base</p>
                            </a>
                        </li>

                         <li class="nav-item">
                            <a href="~/Home/AgentPools" class="nav-link">
                                <i class="nav-icon fas  fa-server"></i>
                                <p>Agent Pools</p>
                            </a>
                        </li>
                        <!--Subscriptions -->
                        <li class="nav-item">
                            <a href="~/Home/Subscribe" class="nav-link">
                                @* <i class="nav-icon far fa-envelope"></i>*@
                                <i class="fas fa-bell"></i>
                                <span class="badge badge-success right">New</span>
                                <p>SUBSCRIBE</p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="~/FAQ" class="nav-link" title="Frequently Ask Questions">
                                <i class="far fa-question-circle"></i>
                                <p>
                                    FAQ
                                </p>
                            </a>
                        </li>
                      
                        <!-- End Of Test-->
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> v17.06.84
            </div>
            @* <strong>Copyright &copy; 2023-2025 <a href="https://ArkThor">Threat Categorization Based on Malware’s C2 Communication</a>.</strong> All rights
            reserved.*@

           <strong>Contact <a href="https://ThreatCategorization">MD (Mohammed Jawed) / SriRam P </a>for any suggestion or comments/feedback.</strong> 
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
    </div>


    <!-- jQuery -->
    <script src="~/theme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/theme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- for PDF Download-->
    <script src="~/theme/Extra/libs/jspdf/jspdf.debug-1.3.2.js"></script>
    <script src="~/theme/Extra/libs/html2pdf/html2pdf.bundle.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/theme/dist/js/adminlte.min.js"></script>
    <script src="~/theme/lib/bootstrap/dist/js/bootstrap.min.js"></script>
 
    <!-- AdminLTE for demo purposes -->
    <!--<script src="~/theme/dist/js/demo.js"></script>-->
    <!-- ArkThor -->
    <script src="~/theme/MD/js/CSCD.js"></script>

    @RenderSection("Scripts", required: false)


</body>
</html>
